* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.form {
    display: flex;
    justify-content: center;
    padding: 16px;
}

.formInput {
    border-radius: 5px;
}

.formButton {
    color: var(--corSecundaria);
    background-color: var(--corPrincipal);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px 8px;
    margin-left: 5px;
}


:root {
    --corPrincipal: #2e86de;
    --corSecundaria: #fff;
}